<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'updatecategory' dataid=data.id %}" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container-xxl flex-grow-1 container-p-y">
<div class="card mb-4">
                    <h5 class="card-header">UPDATE CATEGORY DATA</h5>
                    <div class="card-body">
                      <div class="card-body">
                      <div>
                        <label for="defaultFormControlInput" class="form-label">Name</label>
                        <input type="text" class="form-control" id="defaultFormControlInput" placeholder="Category Name" name="categoryname" value="{{data.CategoryName}}" aria-describedby="defaultFormControlHelp">
                      </div>
                    </div>
                        <div  class="card-body">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Category Description" name="categorydescription">{{data.CategoryDescription}}</textarea>
                      </div>
                      <div  class="card-body">
                        <label for="formFile" class="form-label">Image</label>
                          <img src="{{data.CategoryImage.url}}" width="100px">
                        <input class="form-control" type="file" id="formFile" placeholder="Image" name="categoryimage">
                      </div>
                    <div>


                        <button type="submit" class="btn btn-primary d-grid w-10">UPDATE</button></form>
                    </div>
                    </div>
                  </div></div>
</body>
</html>
{% endblock %}